.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: 900;
    font-size: 0.75rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem;
    border-radius: 4px;
    border: 1px solid var(--gray-3);
    transition: border-color ease-out .15s, box-shadow ease-out .15s;
}

.form-control:focus {
    border-color: var(--color-orange);
    outline: none;
    box-shadow: 0 0 0 5px rgb(214 127 33 / 40%);
}
